@import "../../../../../../src/style/index";

.@{prefix}-template-detail {
  padding: 0 10px 10px 10px;
  &-table-button {
    margin-left: 5px;
  }
  &-all-save {
    position: fixed;
    height: 40px;
    z-index: 888;
    background: #fff;
    width: 100%;
    &-button {
      width: 120px;
      margin-left: 5px;
    }
  }
  &-info-layout {
    display: flex;
    flex-wrap: wrap;
  }
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 8px 16px;
}
