@import "../../../../../../src/style/index";

.@{prefix}-template-detail {
  padding: 10px;
  &-table-button {
    margin-left: 5px;
  }
  &-all-save {
    display: flex;
    &-button {
      margin: 10px auto;
    }
  }
}