@import "../../../../../src/style/index";

.@{prefix}-template-detail-button-group {
  padding: 5px 12px;

  &-button {
    margin-left: 10px;
  }
}

.ro-template-table td {
  padding: 4px 16px !important;
}

.ro-template-table th {
  padding: 4px 16px !important;
}
