@import "../../../style/index";
.@{prefix}-nav-container {
  //min-width: 1366px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #288CE2;
  height: 50px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  padding: 0 30px;
}
.@{prefix}-navbar-logo {
  width: 130px;
}
.@{prefix}-navbar-icon {
  display: inline-block;
  width: 100px;
  height: 50px;
  //background: url("./logo.svg") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.@{prefix}-menu-container {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.@{prefix}-menu {
  //position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  min-width: 70px;
  &:hover {
    cursor: pointer;
    background: #fff;
    color: #288CE2;
  }
  &-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
  }
  &-name {
    white-space: nowrap;
  }
  &-children {
    overflow: auto;
    position: absolute;
    top: 50px;
    left: 15%;
    display: none;
    font-size: 15px;
    z-index: 999;
    box-shadow: 0 5px 5px #888888;
    &-container {
      overflow: auto;
      display: flex;
      flex-direction: column;
      background: #fff;
      &-wrapper {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        &-item {
          min-width: 248px;
          font-weight: 600;
          color: #5EA9E9;
          &-menu {
            transition: all 1s;
            //text-align: center;
            padding: 10px 44px;
            border-bottom: transparent 2px solid;
            &:hover {
              color: #f39909;
              //border-bottom: #f39909 2px solid;
            }
          }
          &-child {
            font-weight: normal;
            list-style: none;
            color: #555;
            font-size: 13px;
            text-align: left;
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
            }
            li {
              display: block;
              height: 25px;
            }
            li span{
              padding: 5px;
              transition: all 0.5s;
            }
            li span:hover {
              color: #5EA9E9;
            }
            &-children-container {
              display: none;
              margin-left: 10px;
            }
            &-children {
              &-container-icon {
                display: inline-block
              }
              list-style: none;
            }
          }
        }
      }
    }
  }
}
.@{prefix}-nav-right {
  width: 15%;
  height: 50px;
  min-width: 280px;
  display: flex;
  justify-content: space-around;
}
.@{prefix}-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 63%;
  overflow: hidden;
}
.@{prefix}-nav-menu-wrapper {
  display: flex;
  width: 100%;
  transition: all 0.5s;
}
.@{prefix}-nav-arrow-left {
  transition: all 0.5s;
  color: #FFFFFF;
  width: 22px;
  height: 50px;
  i {
    display: none;
    font-size: 18px;
    line-height: 50px;
  }
  i:hover {
    background: #2878BF;
    cursor: pointer;
  }
}
.@{prefix}-nav-arrow-right {
  transition: all 0.5s;
  color: #FFFFFF;
  width: 22px;
  height: 50px;
  i {
    display: none;
    font-size: 18px;
    line-height: 50px;
  }
  i:hover {
    background: #2878BF;
    cursor: pointer;
  }
}
.@{prefix}-personal-portrait {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: url("./header.png") no-repeat;
  cursor: pointer;
}
.@{prefix}-personal-top {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 3px;
}
.@{prefix}-personal-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #fff;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 3px;
}
.@{prefix}-personal-box {
  border: 1px solid #E3E3E3;
  position: absolute;
  top: 50px;
  right: -14px;
  width: 340px;
  height: 445px;
  background: #FDFEFF;
  z-index: 100;
  box-shadow: 0 0 3px rgb(212, 212, 212);
  &-downLine {
    display: inline-block;
    height: 1px;
    width: 100%;
    background: #E3E3E3;
  }
  &-button {
    display: flex;
    justify-content: flex-end;
    Button {
      margin-top: 3px;
      margin-right: 30px;
    }
  }
}
.@{prefix}-tabPane1 {
  &-portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 10px;
    &-icon {
      display: inline-block;
      width: 55px;
      height: 55px;
      border-radius: 100px;
      background: url("./header.png") no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }
    &-tooltip {
      cursor: pointer;
      font-size: 12px;
      color: #6299C3;
    }
  }
  &-register {
    height: 230px;
  }
}
.@{prefix}-tabPane2 {
  height: 320px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}
.ant-form-item {
  margin-bottom: 8px;
}
.@{prefix}-vertical-line {
  width: 1px;
  height: 18px;
  margin: auto 4px;
  background: #FFF;
}
.@{prefix}-right-items {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.@{prefix}-navRight-text {
  margin-left: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.@{prefix}-personal-information {
  position: relative;
  width: 16px;
  height: 16px;
  background: url("./information.png") no-repeat;
}
.@{prefix}-personal-information-prompt:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #F45656;
}
.@{prefix}-personal-quit {
  width: 16px;
  height: 16px;
  background: url("./quit.png") no-repeat;
}