@import "../../../../../../src/style/index";

.@{prefix}-element-detail {
  &-header {
    position: fixed;
    height: 40px;
    z-index: 888;
    background: #fff;
    width: 100%;
    &-button {
      width: 120px;
      margin-left: 10px;
    }
  }
  &-body-panel {
    display: flex;
    flex-wrap: wrap;
  }
}