@import "../../../../../../src/style/index";

.@{prefix}-element-detail {
  &-header {
    display: flex;
    &-button {
      margin: 5px auto;
    }
  }
  &-body-panel {
    display: flex;
    flex-wrap: wrap;
  }
}