
/*TabContent StyleSheet*/

#spinner,.spinner{
    font-size: large !important;
    animation: rotate 1s linear -1s infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.rb-page-content-wrapper {
    width: 100%;
    height:calc(100% - 78px);
    z-index: 800;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.rb-tabdrop {
    position: relative;
    list-style: none;
    margin-top: 5px;
    padding-right: 20px;
}

.breadcrumb {
    display: block;
}

.rb-breadcrumb {
    color: #555;
    font-size: small;
    background-color: #ffffff;
    border-top: 1px solid transparent;
    border-radius: 0;
    padding: 5px 12px;
    width: 100%;
    margin-bottom: 2px !important;
}

.rb-breadcrumb {
    border-top-color: #288be2;
}

.rb-tab-pane {
    padding: 0;
    width: 100%;
    height: 30px;
    white-space: nowrap;
}

.nav-tabs {
    position: relative;
    width: 100%;
    margin-top: -2px;
    border-radius: 0;
    color: black;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    top: 2px;
    display: inline-flex;
    white-space: nowrap;
}

.rb-main-tabs-container > ul.nav-tabs > li {
    max-width:180px;
    text-align: center;
    min-width: 80px;
    width: 110px;
    list-style: none;
/*    border-top:1px solid #ddd;
    border-right:1px solid #ddd;*/
    /*z-index:900;*/
    top: 1px;
    font-size: small;
    color: #777;
    border: 1px solid #ccc;;
    border-bottom: 1px solid transparent;
    /*border-radius: 5px 5px 0 0;*/
    margin-right: 2px;
}

.rb-main-tabs-container > ul.nav-tabs > li span {
    text-align: center;
    display: inline-flex;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rb-main-tabs-container > ul.nav-tabs > li .close {
    text-align: center;
    width: 20px;
}



.li-active {
    /*border: 1px solid #288be2!important;*/
    /*border-bottom: 2px solid transparent!important;*/
    z-index: 9999;
    background: #288be2;
    color: #ffffff!important;
}

.rb-main-tabs-container > ul.nav-tabs > li span {
    top: 1px;
    font-size: small;
    color: #777;
    padding: 0 10px;
    border-color: #ccc;
    border-bottom-color: transparent;
}

.rb-main-tabs-container > ul.nav-tabs > li.li-active span{
    font-weight: bold;
    border: transparent;
    color: #ffffff;
}

.rb-main-tabs-container > ul.nav-tabs > li:hover {
    background-color: #ddd;
    border-bottom: 1px solid transparent!important;
}

.ro-tabs-collapse {
    position: relative;
    list-style: none;
    margin-top: -22px;
    padding-right: 20px;
    display: none;
    border-left: 1px solid #ddd ;
}

.ro-tabs-collapse:hover {
    cursor: pointer;
    /*color: #ccc;*/
}


.ro-tabs-collapse ul {
    /*position: relative;*/
    /*list-style: none;*/
    /*margin-top: 0px;*/
    /*padding-right: 20px;*/
    /*display: none;*/
    position: absolute;
    top: 100%;
    /*left: 0;*/
    right: 20px;
    z-index: 1000;
    display: none;
    /*float: right;*/
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.ro-tabs-collapse ul span li {
    display: inline-block;
}

.ro-tabs-collapse ul span:hover li {
    cursor: pointer;
    color:  #288be2;
    background: #ddd;
}

.ro-tabs-collapse ul span:hover {
    cursor: pointer;
    background: #ddd;
}

.ro-tabs-collapse ul .span-no-wrap {
    white-space: nowrap;
    padding: 3px;
    /*display: block;*/
    display: inline-flex;
    justify-content: space-between;
}

.ro-tabs-collapse ul .span-no-wrap {
    white-space: nowrap;
    padding: 3px;
    /*display: block;*/
    display: inline-flex;
    justify-content: space-between;
}

.close-collapse {
    line-height: inherit;
    justify-self: end;
}

.dropdown-menu li{
    list-style: none;
}

.dropdown-menu a {
    top: 1px;
    font-size: small;
    color: #777;
    padding: 0 10px;
}