
.rb-nav-tabs{
    border: none;
}
/*TabContent StyleSheet*/
.rb-main-tabs-container > ul.nav-tabs > li a {
    border-color: #ccc;
    border-bottom-color: transparent;
}
.rb-main-tabs-container > ul.nav-tabs > li.active{
    font-weight: bold;
    border: transparent;
}

.rb-main-tabs-container > ul.nav-tabs > li a:hover {
    background-color: #ddd;
}

.rb-main-tabs-container > ul.nav-tabs > li.active > a {
    color: #e25613;
    border-color: #e25613;
    border-bottom-color: transparent;
}

.rb-main-tabs-container > ul.nav-tabs > li.active > a:hover {
    background-color: white;
}

.rb-main-tabs-container .dropdown-menu > li > a:hover {
    background: #eea236;
    color: white;
}

.rb-tabsmore>a >.badge{
    background-color:#e25613;
}

.rb-tabsmore>a >.caret{
    color:#e25613;
}

.rb-tabsmore a:hover {
    color: #e25613;
}

.rb-tab-element-copy{
    background-color: #e25613;
}

.rb-tab-element-copy-replace{
    background-color: #e25613!important;
}

.rb-tabdrop a:hover {
    color: #e25613;
}

.rb-remove-collapse-tab:hover {
    color: #e25613;
}

/*.page-container {
    background: #0F66AB !important;
}*/

.rb-tab-close {
    color: #ccc;
}

.active .rb-tab-close:hover {
    color: #e25613;
}

.rb-tab-refresh {
    color: #ccc;
}

.rb-tab-refresh:hover {
    color: #e25613;
}

.rb-breadcrumb {
    border-top-color: #e25613;
}

.rb-page-content-wrapper #spinner {
    color: #e25613;
}

.li {
    border: 2px solid transparent;
    border-bottom: 2px solid #e25613;
}

.li-active {
    border: 2px solid #e25613;
    border-bottom: 2px solid transparent;
}

.rb-tabdrop li {
    list-style: none;
}

Icon {
    /*width: 1em;*/
    /*height: 1em;*/
}