
/*TabContent StyleSheet*/

#spinner,.spinner{
    font-size: large !important;
    animation: rotate 1s linear -1s infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.ro-page-content-wrapper {
    width: 100%;
    height:calc(100% - 78px);
    z-index: 800;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.breadcrumb {
    display: block;
}

/* 兼容火狐浏览器-57.0.3 (64 位)*/
@-moz-document url-prefix(){
    .ro-tab-content-container {
        margin-top: -4px;
    }

    .ro-tabs-collapse {
        top: -25px!important;
    }

    .dropdown-menu {
        top: 0!important;
    }
}

.ro-breadcrumb {
    color: #555;
    font-size: small;
    background-color: #ffffff;
    border-top: 1px solid transparent;
    border-radius: 0;
    padding: 5px 12px;
    width: 100%;
    margin-bottom: 0px !important;
}

.ro-breadcrumb {
    border-top-color: #288be2;
}

.ro-tab-pane {
    padding: 0;
    width: 100%;
    height: 30px;
    white-space: nowrap;
}

.nav-tabs {
    position: relative;
    width: 100%;
    border-radius: 0;
    color: black;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    top: 1px;
    padding-left: 5px;
    display: inline-flex;
    white-space: nowrap;
    overflow-x: hidden;
}

.ro-main-tabs-container > ul.nav-tabs > li {
    max-width:180px;
    text-align: center;
    min-width: 110px;
    width: 110px;
    background-color: #fff;
    top: 1px;
    font-size: small;
    color: #777;
    border: 1px solid #ccc;;
    border-bottom: 1px solid transparent;
    margin-right: 2px;
}

.list-item {
    list-style: none;
    display: inline-flex;
}

.li-active {
    /*border: 1px solid #288be2!important;*/
    /*border-bottom: 2px solid transparent!important;*/
    z-index: 2;
    background: #288be2!important;
    color: #ffffff!important;
}

.ro-main-tabs-container > ul.nav-tabs > li span {
    text-align: center;
    display: inline-flex;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ro-main-tabs-container > ul.nav-tabs > li .close {
    text-align: center;
    width: 20px;
    margin-top: 4px;
}

.ro-main-tabs-container > ul.nav-tabs > li span {
    top: 1px;
    font-size: small;
    color: #777;
    padding: 0 10px;
    border-color: #ccc;
    border-bottom-color: transparent;
}

.ro-main-tabs-container > ul.nav-tabs > li.li-active span{
    font-weight: bold;
    border: transparent;
    color: #ffffff;
}

.ro-main-tabs-container > ul.nav-tabs > li:hover {
    background-color: #ddd;
    border-bottom: 1px solid transparent!important;
}

.ro-tabs-collapse {
    position: relative;
    list-style: none;
    top: -21px;
    z-index: 999;
    background-color: #fff;
    border-left: 1px solid #ddd ;
}

.ro-tabs-collapse:hover {
    cursor: pointer;
    /*color: #ccc;*/
}

.ro-tabs-collapse .roic-right-operate {
    align-items: center;
    display: flex;
    padding: 3px;
}

.roic-more {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("./roic_more.svg");
}

.roic-more:hover {
    background: url("./roic_more_hover.svg");
}

/* 展开关闭操作列表 */
.roic-operate-collapse {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    /*background: url("./roic_close_others.svg");*/
}

.roic-operate-collapse:hover {
    /*background: url("./roic_close_others.svg");*/
}

.ro-tabs-collapse ul {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 6px 10px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.ro-tabs-collapse .ro-nav-tabs-collapse {
    right: 20px;
}

.ro-tabs-collapse .ro-nav-operate-collapse {
    right: 5px;
    min-width: 100px;
}


.ro-tabs-collapse .ro-nav-tabs-collapse span li {
    display: inline-block;
}

.ro-tabs-collapse .ro-nav-tabs-collapse span:hover li {
    cursor: pointer;
    color:  #288be2;
    background: #ddd;
}

.ro-tabs-collapse .ro-nav-tabs-collapse span:hover {
    cursor: pointer;
    background: #ddd;
}

.ro-tabs-collapse .ro-nav-tabs-collapse .span-no-wrap {
    white-space: nowrap;
    width: 140px;
    display: inline-flex;
    justify-content: space-between;
}

.ro-tabs-collapse .ro-nav-tabs-collapse .span-no-wrap li {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ro-tabs-collapse .ro-nav-operate-collapse {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ro-tabs-collapse .ro-nav-operate-collapse .operate-item {
    white-space: nowrap;
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
}

.ro-tabs-collapse .ro-nav-operate-collapse .operate-item:hover {
    cursor: pointer;
    color:  #288be2;
    background: #ddd;
}

.close-collapse {
    line-height: inherit;
    justify-self: end;
    width: 20px;
    margin-left: 5px;
}

/*关闭其他tab*/
.roic-close-others {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background: url("./roic_close_others.svg");
}

.roic-close-others:hover {
    background: url("./roic_close_others _hover.svg");
}

.dropdown-menu {
    position: relative;
    top: 5px;
    margin-right: -25px;
}

.dropdown-menu .menu-item {
    list-style: none;
}

.dropdown-menu .menu-item>:hover {
    cursor: pointer;
}